Gene mutation dataset preprocessing

In [1]:
#cells to run all libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import warnings
warnings.filterwarnings("ignore")

Loading the data

In [11]:


# Loading training_variants. It's a comma-separated file
data_variants = pd.read_csv("/Users/mizzy/Downloads/Honours project /Datasets /training_variants")

# Loading training_text dataset. This is separated by ||
data_text = pd.read_csv("//Users/mizzy/Downloads/Honours project /Datasets /training_text", sep="\|\|", engine="python", names=["ID", "TEXT"], skiprows=1)

 visualise the first few classes of genetic variants

In [9]:
data_variants.head()

   ID    Gene             Variation  Class
0   0  FAM58A  Truncating Mutations      1
1   1     CBL                 W802*      2
2   2     CBL                 Q249E      2
3   3     CBL                 N454D      3
4   4     CBL                 L399V      4

In [10]:
data_variants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3321 entries, 0 to 3320
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         3321 non-null   int64
 1   Gene       3321 non-null   object
 2   Variation  3321 non-null   object
 3   Class      3321 non-null   int64
dtypes: int64(2), object(2)
memory usage: 103.9+ KB